<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Book Appointment</ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button defaultHref="/dashboard/book-appointment"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-fluid w-100 h-100 p-3">
    <ion-card class="m-0 b-0 mb-3">
      <ion-item class="border-0" lines="none">
        <div class="h-100" style="padding-top: 5px;padding-bottom: 5px;">
          <img [src]="this._commonService.searchResults.fulfillments[this.search_index].agent.gender=='M'?'assets/male-doctor.png':'assets/female-doctor.png'" alt="" style="width: 60px;margin: 5px 15px 5px 0px;border-radius: 100%;">
        </div>
        <ion-label>
          {{ this._commonService.searchResults.fulfillments[this.search_index].agent.name }}<br>
          <span class="text-muted">{{ this._commonService.searchResults.fulfillments[this.search_index].type }} / {{this._commonService.searchResults.fulfillments[this.search_index].items.descriptor.name}} {{this._commonService.searchResults.fulfillments[this.search_index].agent.tags["@abdm/gov/in/education"]?"/"+this._commonService.searchResults.fulfillments[this.search_index].agent.tags["@abdm/gov/in/education"]:""}}</span><br>
          <span style="color: #3880ff;"><b>{{this._commonService.searchResults.fulfillments[this.search_index].agent.tags["@abdm/gov/in/hpr_id"]}}</b></span><br *ngIf="this._commonService.searchResults.fulfillments[this.search_index].agent.tags['@abdm/gov/in/hpr_id']">
          <ion-card-subtitle>{{this._commonService.searchResults.fulfillments[this.search_index].agent.tags["@abdm/gov/in/languages"]}}<br>{{this._commonService.searchResults.fulfillments[this.search_index].agent.tags["@abdm/gov/in/experience"]}}</ion-card-subtitle>
        </ion-label>
      </ion-item>
    </ion-card>

    <div class="w-100 d-block">
      <span class="text-muted d-block fs-12">Selected date and time for Teleconsultation</span>
      <span class="d-block">{{blooked_slot}}</span>
    </div>

    <div class="w-100 d-block mt-5" *ngIf="_commonService.searchResults.order">
      <div class="mb-2">
        <span style="font-weight: 700;">Billing Details</span>
      </div>
      <!-- <div class="d-flex justify-content-between">
        <span class="text-muted fs-14">Consultation Fees</span>
        <span>900</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="text-muted fs-14">CGST(5%)</span>
        <span>50</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="text-muted fs-14">SGST(5%)</span>
        <span>50</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="text-muted fs-14">Registration Fees</span>
        <span>400</span>
      </div> -->

      <div class="d-flex justify-content-between" *ngFor="let quote of _commonService.searchResults.order.message.order.quote.quote.breakup">
        <span class="text-muted fs-14">{{quote.title}}</span>
        <span>{{quote.price.value}}</span>
      </div>
      <hr>
      <div class="d-flex justify-content-between" style="font-weight: 700;">
        <span class="fs-14 text-primary">Total Payable</span>
        <span class="text-primary">Rs. {{_commonService.searchResults.order.message.order.quote.quote.price.value}}</span>
      </div>
    </div>

    <div class="position-absolute bottom-0 start-0 d-block w-100 px-3">
      <ion-button expand="full" (click)="confirm()">Pay Now</ion-button>
    </div>
  </div>
</ion-content>
